SUPABASE_URL=https://dstthvswtflfmugxbbfl.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRzdHRodnN3dGZsZm11Z3hiYmZsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcxNzQ1OTcsImV4cCI6MjA3Mjc1MDU5N30.Qkvax1_wtoxMh0JKTiR-OTYag2ORzrL34I8D1Jwg04M